.main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2em;
}

.main-content {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	text-align: center;
	width: 50%;
}
