@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	margin: 0;
	font-family: 'Space Mono', 'Segoe UI', 'Ubuntu', 'Source Sans Pro',
		'monospace';
	box-sizing: border-box;
	overflow: auto;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 2em 0;
	gap: 2em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 2em 0;
	gap: 2em;
}
